{% extends request.htmx|yesno:'htmx_viewsets/partial.html,htmx_viewsets/full.html' %}


{% block main %}
  <div id="{% if node_id%}{{ node_id }}{% else %}main{% endif %}" hx-swap-oob="true" hx-swap="innerHTML">
    {% if next_url %}
      <button type="button" class="btn btn-link" style="text-decoration: unset;" hx-get="{{ next_url}}" hx-swap="none" hx-push-url="true">
        <i class="fa-solid fa-angles-left"></i> Zurück
      </button>
    {% endif %}
    {% block htmx_main %}{% endblock %}
  </div>
{% endblock %}
