<table id="{{ table.table_id|safe }}" class="{{ table.table_classes|safe }}" style="{{ table.styles|safe }}">
    <thead>
        <tr>
          {% if table.row_actions %}
            <th></th>
          {% endif %}
          {% for column in table.columns %}
            <th>{{ column }}</th>
          {% endfor %}
        </tr>
    </thead>
    {% if not table.ajax_url %}
      <tbody>
        {% for row in table.rows %}
          <tr>
            {% for cell in row.cells %}
              <td class="text-truncate">
                {{ cell }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    {% endif %}
    {% if table.show_footer %}
      <tfoot>
          <tr>
            {% if table.row_actions %}
              <th></th>
            {% endif %}
            {% for column in table.columns %}
              <th>{{ column }}</th>
            {% endfor %}
          </tr>
      </tfoot>
    {% endif %}
</table>
<script>
	$(document).ready( function () {
		var table = $('#{{ table.table_id|safe }}').DataTable({
			lengthMenu: {{ table.length_menu|safe }},
			stateSave: true,
			responsive: true,
			autoWidth: false,
			language: {
				"emptyTable": "Keine Daten in der Tabelle vorhanden",
				"info": "_START_ bis _END_ von _TOTAL_ Einträgen",
				"infoEmpty": "0 bis 0 von 0 Einträgen",
				"infoFiltered": "(gefiltert von _MAX_ Einträgen)",
				"infoThousands": ".",
				"lengthMenu": "_MENU_ Einträge anzeigen",
				"loadingRecords": "Wird geladen...",
				"processing": "Bitte warten...",
				"search": "Suchen",
				"zeroRecords": "Keine Einträge vorhanden.",
				"paginate": {
	  				"first": "Erste",
  					"previous": "Zurück",
    				"next": "Nächste",
    				"last": "Letzte",
				},
				"aria": {
					"sortAscending": ": aktivieren, um Spalte aufsteigend zu sortieren",
					"sortDescending": ": aktivieren, um Spalte absteigend zu sortieren",
				},
	        },
			{% if table.row_actions %}
            columnDefs: [
            	{ orderable: false, targets: -1 }
            ],
			{% endif %}

			{% if table.ajax_url %}
  	        serverSide: true,
			ajax: {
  				url: '{{ table.ajax_url|safe }}',
  				dataSrc: 'data',
			},
			{% endif %}
		});
		table.ajax.reload( function ( json ) {
			table.ajax.reload(null, false);
		});
		table.on('draw', function ( e, settings, json, xhr ) {
			htmx.process('#{{ table.table_id|safe }}');
        })
	});
	function reload_table(table_id){
        var table = $('#' + table_id).DataTable();
        table.ajax.reload(null, false);
	}
	htmx.onLoad(function () {
		reload_table('{{ table.table_id|safe }}');
	});
</script>
