/.coverage
.directory
/.pydevproject
/.project
*.pyc
.env
static_root/
media/
db.sqlite3
db.sqlite3-journal
*.json
*BAK*
*.csv
*.csv#
*.xlsx
/.pylintrc
dist
build
*.egg-info
.eggs/
.tox/
.settings/
/.mypy_cache/
