{% extends './modal.html' %}

{% block modal_body %}
  <form id="modal-form" hx-post="{{ target_url }}" hx-encoding="multipart/form-data">{% csrf_token %}
    <table class="w-100">
      {{ form.as_table }}
    </table>
  </form>
{% endblock modal_body %}

{% block modal_footer %}
  <button type="button" class="btn btn-secondary modal-close-button" data-dismiss="modal">Schließen</button>
  <button type="submit" class="btn btn-primary" form="modal-form">Absenden</button>
{% endblock modal_footer %}
